.zc-body {
    background:#e9e6e6;
    display: flex;
    flex-direction: row; 
    justify-content:space-around;
    margin-top: 50px;
}

.chart--container {
      height: 650px;
      width: 650px;
      border:1px solid black;
      border-radius: 5px;
}
    
.zc-ref {
      display: none;
}
.chart--container{
    margin:auto;
}
.zc-body a {
    color: rgb(100, 99, 99);
    margin:auto;
}
.hide {
    visibility: hidden;
}